@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Bebas Neue'; 

}

html{
    overflow-x: hidden;
    font-size: 62.5%;

}

section {
    min-height: 100dvh;
    width: auto;
    padding:
    10rem 9% 2rem;
}

/*------------Dropdown---------------*/

.btn {
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .8rem;
    cursor: pointer;
    border: none;
    margin-top: -5rem;
    color: rgb(251, 166, 9);
    
  }
  .btn span{
    font-size: 5.5rem;
  }
  
  .dropdown {
    position: absolute;
    width: 250px;
    background: transparent;
    visibility: hidden;
    transform: translateY(0.5rem);
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  }
  
  .dropdown a {
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: rgb(249, 245, 245);
    background-color: transparent;
    font-size: 2.5rem;
    font-weight: 500;
  }
  
  .dropdown a:hover {
    background-color: var(--color);
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: orange ;
    text-decoration-thickness: .4rem;
  }
  
  .show {
    visibility: visible;
    opacity: 80%;
    transform: translateY(0rem);
    background-color: transparent
  }
  

.background-img{
    background-image: /*url("photos/white.jpeg")*/ /*url('photos/DOOR.jpg')*/ /*url("photos/Image-1.jpg")*/ url('Image-1 2.jpg');
    opacity: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    top: 0;
    object-fit:cover;
    overflow: hidden;
 
}


.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.multiple-text{
  color: rgb(255, 255, 254);
  font-size: 15rem;
  text-align: center;
  font-weight: bold;
  font-family: 'Bebas Neue';
  position: relative;
  margin-left: -1rem;

}

.scroll{
    position: absolute;
    top: 90%;
    text-align: right;
    right: 2rem;
    font-size: 3.2rem;
    color: rgb(248, 244, 244);
}

.name h2{
  font-family: 'Rajdhani';
  color: rgb(255, 255, 255);
  font-size: 25rem;
  text-align: center;
  font-weight: bold;
  position: relative;
  top: -20rem;
}

.name h3{
  font-family: 'Rajdhani';
  color: rgb(255, 255, 255);
  font-size: 5rem;
  text-align: center;
  font-weight: bold;
  position: relative;
  top: -25rem;
  text-transform: uppercase;
}





/*-----------ABOUT SECTION DESIGN ----------------------*/
.about{
    position: relative;
    height: auto;
    width: 100vw;
    background-color: rgb(1, 2, 2);
    font-family: 'Bebas Neue';
}

.about-text{
    position: relative;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: poppins, monospace;
    padding: 2rem 2rem;
    margin-top: -4rem;
    text-transform:uppercase;
    letter-spacing: 1px;
    
    
}
.about-img{
   display: flex;
   max-width: 100dvh;
   max-height: auto;
   opacity: 50%;
   position: absolute;
   top: 5;
   right: 0;
   border-radius: 1rem ;
   box-shadow: var(--shadow);
   overflow: hidden;
   
}

@media only screen and (min-width:300px) and (max-width:1700px) {
   .about-img{
        padding: 3rem 2rem;
        margin-left: 1rem;
    }
}

.about-work{
    position: relative;
    font-weight: 100;
    font-size: 6.5rem;
    color: rgb(248, 244, 244);
    text-align: left;
    list-style: none;
    font-family: 'Bebas Neue';
    padding: 4rem .8rem;
    margin-top: 6rem;
    letter-spacing: .2rem;
    line-height: 6.4rem;
}


@media (max-width: 300px) {
   .about-work{
        font-size: 3rem;
    }
}

#contact-link{ 
    text-decoration: none;
    text-transform: lowercase ;
    font-size: 1.5rem;
    font-family: 'Bebas Neue';
    font-weight: 500;

    
}

#contact-link a{
  color: aliceblue;
}

#contact-link a:hover{
  color: rgb(226, 197, 153);
  text-decoration: underline;
}

#text-color{
    color: rgb(255, 159, 4);
    font-size: 2.5rem;
    font-family: 'Bebas Neue';
    font-weight: 500;
    text-align: center;
    letter-spacing: .2rem;
  
   
}







/*-----------WORK SECTION DESIGN ----------------------*/
.carousel{
    background-color: rgb(246, 241, 241);
}

.work-title h1{
    position: absolute;
    font-size: 7rem;
    font-weight: 400;
    color: rgb(5, 5, 5);
    text-align: right;
    justify-self: flex-end;
    padding-bottom: 2rem; 
    top: 3rem;
    right: 7.5rem;
    font-family: 'Bebas Neue';
    text-align: center;
   

}


  
  #carousel__slide1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: normal;
    margin-left: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
  }

  @media (max-width: 300px){
    #carousel__slide1{
      margin-left: -.4rem;
    }
  }

  #carousel__slide1 img{
    width: 100%;
    height: 100%;
    object-fit: fill;

  }

  #carousel__slide2{
    position: relative;
    display: flex;
    align-items: normal;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
  }
  #carousel__slide2 img{
    width: 100dvh;
    height: auto;
    object-fit:cover;

  }

  #carousel__slide3{
    position: relative;
    display: flex;
    align-items: normal;
    justify-content: normal;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    

  }
  #carousel__slide3 img{
    width: 100%;
    height: 100%;
    object-fit: fill;

  }

  #carousel__slide4{
    position: relative;
    display: flex;
    align-items: normal;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  }
  #carousel__slide4 img{
    width: 100%;
    height: 100%;
    object-fit: fill;

  }

  #carousel__slide5{
    position: relative;
    display: flex;
    align-items: normal;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
   
  }

  #carousel__slide5 img{
    width: 100%;
    height: 100%;
    object-fit: fill;

  }

  #carousel__slide6{
    position: relative;
    display: flex;
    align-items: normal;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  #carousel__slide6 img{
    width: 100%;
    height: 100%;
    object-fit: fill; 
  }

  #carousel__slide7{
    position: relative;
    display: flex;
    align-items: normal;
    justify-content: center; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
  }
  
  #carousel__slide7 img{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  #carousel__slide8{
    position: relative;
    display: flex;
    align-items: normal;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  #carousel__slide8 img{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  #carousel__slide9{
    position: relative;
    display: flex;
    align-items: normal;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  #carousel__slide9 img{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }




  .carousel {
    position: relative;
    filter: drop-shadow(0 0 10px rgba(148, 13, 13, 0.2));
    text-decoration: none;
    
   
  }

  .carousel__viewport {
    position: absolute;
    align-items: center;
    top: 10rem;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    background-color: transparent
    
  }
  

  @media (max-width: 300px) {
    .carousel__viewport {
        padding: 4rem 2rem;
        max-width: 100dvh;
        max-height: auto;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }
  }

    
  
  
  .carousel__slide {
    position: relative;
    flex: 100%;
    min-width: 40dvh;
    background-color: transparent;
    background-repeat: no-repeat;
    margin-right: 2rem;
    margin-top: 7rem;
    overflow: hidden;
    border-radius: .2rem;
    block-size: 50%;
    box-shadow: var(--white-space);
    overflow: hidden;
    border: 7px solid rgb(255, 255, 255);
  }
  


  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: snap;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
    }
  
   .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }





/*--------------CONTACT SECTION DESIGN--------------*/
.contact{
  background-color: rgb(231, 228, 225); 
  position: relative;

}

.contact h2 {
  font-size: 2.5rem;
  padding:2rem 0rem;
  margin: auto;
  color: rgb(0, 0, 0);
  display: flex;
  text-align:center;
  justify-content: center;

}
.contact h2 span{
  color: rgb(238, 182, 13);
}

.contact form{
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
  
}

.contact form .input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: rgb(5, 5, 5) 1px solid; 
  border-radius: .4rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color:rgb(255, 255, 255);
  
}

.contact form.input-box input,
.contact form textarea{
  width: 100%;
  padding: 1.5rem;
  font-size: 1.7rem;
  border-radius: .8rem;
  margin: .7rem 0;
  border: rgb(5, 5, 5) 1px solid;
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);

  

}

#fullname{
  font-size: 1.5rem; 
  font-family: 'Poppins', sans-serif;
}

#email{
  font-size: 1.5rem; 
  font-family: 'Poppins', sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact form .input-box input{
  width: 100%;
}


.contact form textarea{
  resize:none;

}

.contact form .send {
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: rgb(243, 165, 9);
  border-radius: 5px;
  border: rgb(5, 5, 5) 1px solid;
  padding: 1rem 2rem;
  width: 40%;
}

.contact form .send:hover{
  background-color: rgb(242, 179, 6);
  color: rgb(255, 255, 255);
  transition: .5s ease;
  transform: scale(1.03);
}

/*==============FOOTER DESIGN==========================*/


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background-color: rgb(10, 8, 0);
}

.footer-text p{
  color: whitesmoke;
  font-size: 1.2rem;
  justify-content: center;
  
}

.footer-iconTop{
  display: inline-flex;
  justify-content: right;
  align-items: right;
  padding: 1rem .2rem;
  background-color: var(--main-color);
  border-radius: .8rem;
  transition: .5s ease;
}

.footer-iconTop a:hover{
  transform: scale(1.4);
  cursor: pointer;
}

.footer-iconTop a i{
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
}

#myname{
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}

#myname:hover{
  color: rgb(0, 160, 253);
  transition: .5s ease;
  transform: scale(1.5);
  cursor: pointer;
  text-decoration: underline;
}